@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
.cb {
  border: 1px solid red;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  background-color: white;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

a:link {
  color: var(--grayish-blue);
  background-color: transparent;
  text-decoration: none;
}

/* a:hover {
  color: var(--bright-cyan);
  background-color: transparent;
}

a:active {
  color: var(--lime-green);
  background-color: transparent;
  text-decoration: underline;
} */

/* header and navigation */
/* mobile and small tablete visibility*/
.header {
  display: flex;
  width: 100%;
  padding: 5%;
  justify-content: space-between;
}
.header > img:nth-child(1) {
  width: 45%;
  align-self: center;
  margin-left: 1%;
}
.header > img:nth-child(2) {
  position: absolute;
  right: 2.5%;
  padding: 1%;
  order: 1;
  align-self: center;
}
.header > .call-to-action {
  visibility: hidden;
  /* margin-left: auto; */
  margin-right: 5%;
}
.call-to-action {
  /* position: absolute; */
  padding: 1% 2%;
  border: none;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  background: linear-gradient(
    90deg,
    hsla(102, 75%, 64%, 1),
    hsla(202, 75%, 64%, 1)
  );
}
/* pc and large tablets visibility */
nav {
  width: 50%;
  text-align: center;
  position: absolute;
  align-self: center;
  visibility: hidden;
}

/* landing - page */
.landing-page {
  height: 80vh;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -30vh center;
}
/* .landing-page > img {
  height: 50%;
  object-fit: cover;
  object-position: bottom;
} */
section > .landing-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../images/image-mockups.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -18vh center;
}
.landing-container > div {
  height: 50%;
  padding: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.landing-container > div > h1 {
  color: var(--dark-blue);
  font-size: 2.25rem;
}
.landing-container > div > p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.landing-container > div > .call-to-action {
  width: 45%;
  padding: 4%;
}

/* feature page */
.feature-page {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100%;
  background-color: var(--light-grayish-blue);
  text-align: center;
  padding: 5%;
}
.feature-page > h2 {
  color: var(--dark-blue);
  font-size: 2.25rem;
  width: 80%;
  margin: 15% auto 0 auto;
}
.feature-page > p {
  color: var(--grayish-blue);
  font-size: 1rem;
  margin-top: 8%;
  margin-bottom: 10%;
  line-height: 1.5rem;
}
.features {
  margin-top: 12%;
}
.features > h3 {
  color: var(--dark-blue);
  font-size: 1.5rem;
  margin: 5% auto 5% auto;
}
.features > p {
  color: var(--grayish-blue);
  font-size: 1rem;
  margin-top: 5%;
  line-height: 1.5rem;
}
.features > p {
  margin-bottom: 15%;
}

/* article page */
.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--very-light-gray);
  padding: 5%;
  width: 100%;
}
.article > h2 {
  text-align: center;
  width: 100%;
  margin: 15% 0 10% 0;
  color: var(--dark-blue);
  font-size: 2.25rem;
}
.article-card {
  background-color: var(--White);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  border-radius: 10px;
  box-shadow: 4px 5px 19px -3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 5px 19px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 5px 19px -3px rgba(0, 0, 0, 0.2);
}
.article-card > img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.article-data {
  padding: 6%;
}
.article-data > p:nth-child(1) {
  color: var(--grayish-blue);
  font-size: 0.8rem;
  margin-top: 2%;
  margin-bottom: 4%;
  line-height: 1.5rem;
}
.article-data > h3 {
  color: var(--dark-blue);
  font-size: 1.25rem;
  margin-bottom: 4%;
}
.article-data > p:nth-child(3) {
  color: var(--grayish-blue);
  font-size: 1rem;
  margin-bottom: 2%;
  line-height: 1.5rem;
}

.footer {
  background-color: var(--dark-blue);
  padding: 10% 5%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-content: center;
}
footer > .media {
  width: 75%;
}
footer > .media > img {
  filter: invert(100%) sepia(0%) saturate(804%) hue-rotate(179deg)
    brightness(500%) contrast(100%);
  width: 80%;
}
.social-media {
  margin-top: 12%;
  width: 100%;
}
.social-media > img {
  width: 12%;
  margin: 0 3%;
}
footer > ul {
  margin: 5% 0;
}
footer > ul > li {
  margin: 10% 0;
}
footer > ul > li > a:link {
  color: var(--White);
}
footer > .action > .call-to-action {
  padding: 7% 12%;
  margin: 5% 0;
}
footer > .action > p {
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    /* background-color: pink; */
  }
  /* header and navigation */
  /* mobile and small tablete visibility*/
  .header {
    padding: 3%;
  }
  .header > img:nth-child(1) {
    width: 35%;
  }
  .header > img:nth-child(2) {
    padding: 0%;
    right: 30px;
    width: 5%;
    height: 22px;
  }
  .header > .call-to-action {
    visibility: visible;
    margin-right: 12%;
    padding: 2% 4%;
  }

  /* landing -page */
  /* .landing-page > img {
    height: 60%;
  } */
  section > .landing-container {
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -22vh center;
  }
  .landing-container > div {
    height: 40%;
  }
  .landing-container > div > h1 {
    width: 70%;
  }
  .landing-container > div > p {
    width: 85%;
  }
  .landing-container > div > .call-to-action {
    width: 30%;
    padding: 2.75%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    /* background-color: pink; */
  }

  /* header and navigation */
  /* mobile and small tablete visibility*/
  .header {
    padding: 2%;
  }
  .header > img:nth-child(1) {
    width: 25%;
  }
  .header > img:nth-child(2) {
    padding: 0%;
    right: 30px;
    width: 4%;
    height: 22px;
  }
  .header > .call-to-action {
    visibility: visible;
    margin-right: 10%;
    padding: 1.5% 3%;
  }
  /* landing -page */
  /* .landing-page > img {
    height: 60%;
  } */
  section > .landing-container {
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -30vh center;
  }
  .landing-container > div {
    height: 40%;
  }
  .landing-container > div > h1 {
    width: 70%;
    font-size: 2.75rem;
  }
  .landing-container > div > p {
    width: 85%;
    font-size: 1.45rem;
    line-height: 1.25rem;
  }
  .landing-container > div > .call-to-action {
    width: 30%;
    padding: 2.75%;
    font-size: 1.35rem;
  }

  .feature-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    padding: 5%;
  }
  .feature-page > h2 {
    font-size: 2.5rem;
    margin: 10% auto 0 auto;
  }
  .feature-page > p {
    width: 80%;
    font-size: 1rem;
    margin: 5% auto auto 7%;
    line-height: 1.5rem;
  }
  .features {
    margin-top: 8%;
    width: 50%;
    padding: 2%;
  }
  .features > h3 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    margin: 5% auto 5% auto;
  }
  .features > p {
    color: var(--grayish-blue);
    font-size: 1rem;
    margin-top: 5%;
    line-height: 1.5rem;
  }
  .features > p:nth-child(3) {
    margin-bottom: 15%;
  }

  .article {
    flex-direction: row;
    padding: 4%;
    /* height: 100vh; */
  }
  .article > h2 {
    margin: 8% 0 10% 0;
  }
  .article-card {
    width: 48%;
    margin-bottom: 5%;
  }

  footer {
    gap: 50px;
  }
  footer > img {
    color: white;
    width: 40%;
  }
  .social-media {
    width: 70%;
  }
  .social-media > img {
    width: 8%;
    margin: 0 2%;
  }
  footer > ul > li {
    margin: 0 5%;
    display: inline-block;
    line-height: 4rem;
  }
  footer > ul > li > a:link {
    color: var(--White);
  }
  footer > .call-to-action {
    padding: 3% 8%;
    font-size: 1.5rem;
    border-radius: 50px;
  }
  footer > p {
    color: var(--grayish-blue);
    font-size: 1.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    /* background-color: pink; */
  }

  /* header and navigation */
  /* mobile and small tablete visibility*/
  .header {
    padding: 1%;
  }
  .header > img:nth-child(1) {
    margin-left: 5%;
    width: 20%;
  }
  .header > img:nth-child(2) {
    visibility: hidden;
  }
  .header > .call-to-action {
    visibility: visible;
    order: 3;
  }

  /* pc and large tablets visibility */
  nav {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  nav ul li {
    align-self: center;
    visibility: visible;
    display: inline-block;
  }
  nav > ul > li {
    margin: 0 3%;
  }
  nav > ul > li > a {
    text-decoration: none;
  }
  /* landing-page */
  /* landing - page */
  .landing-page {
    height: 80vh;
    width: 100%;
    flex-grow: 1;
    text-align: left;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -33vh right -80vh;
  }

  /* .landing-page > img {
    order: 1;
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: bottom;
  } */
  section > .landing-container {
    padding: 0 0 0 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -15vh right -10vh;
  }
  .landing-container > div {
    height: 50%;
    width: 40%;
    padding: 0 5% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .landing-container > div > h1 {
    color: var(--dark-blue);
    font-size: 2.25rem;
  }
  .landing-container > div > p {
    color: var(--grayish-blue);
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  .landing-container > div > .call-to-action {
    width: 45%;
    padding: 4%;
  }

  .feature-page {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width: 100%; */
    padding: 8% 4%;
  }
  .feature-page > h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  .feature-page > p {
    align-self: flex-start;
    width: 100%;
    padding-right: 40%;
    font-size: 1rem;
    margin: 2% 0 3% 0;
    line-height: 1.5rem;
  }
  .features {
    margin-top: 1%;
    width: 25%;
    padding: 1%;
  }
  .features > h3 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    margin: 10% auto 5% auto;
  }
  .features > p {
    color: var(--grayish-blue);
    font-size: 1rem;
    margin-top: 7%;
    line-height: 1.5rem;
  }
  .features > p {
    margin-bottom: 0;
  }

  .article {
    flex-direction: row;
    padding: 4%;
    /* height: 100vh; */
  }
  .article > h2 {
    margin: 3% 0px 8%;
  }
  .article-card {
    width: 48%;
    margin-bottom: 5%;
  }
  .footer {
    background-color: var(--dark-blue);
    padding: 10% 5%;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    align-content: center;
  }
  footer > .media {
    width: 25%;
  }
  footer > .media > img {
    width: 80%;
  }
  .social-media {
    margin-top: 12%;
    width: 100%;
  }
  .social-media > img {
    width: 12%;
    margin: 0 3%;
  }
  .footer {
    padding: 7%;
  }
  footer > ul {
    text-align: left;
    margin: 0 3%;
    flex-grow: 1;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
  footer > ul > li {
    margin: 0;
  }
  footer > ul > li:nth-child(2) {
    margin: 5% 0;
  }
  footer > ul > li:nth-child(5) {
    margin: 5% 0;
  }
  footer > ul > li > a:link {
    color: var(--White);
  }
  footer > .action {
    text-align: right;
  }
  footer > .action > .call-to-action {
    padding: 7% 12%;
    margin: 5% 0;
  }
  footer > .action > p {
    color: var(--grayish-blue);
    font-size: 0.8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    /* background-color: pink; */
  }

  /* header and navigation */
  /* mobile and small tablete visibility*/
  .header {
    padding: 0.75%;
  }
  .header > img:nth-child(1) {
    margin-left: 7%;
    width: 12%;
  }
  .header > img:nth-child(2) {
    visibility: hidden;
  }
  .header > .call-to-action {
    visibility: visible;
    order: 3;
    margin-right: 7%;
    padding: 0.85% 1.5%;
  }

  /* pc and large tablets visibility */
  nav {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  nav ul li {
    align-self: center;
    visibility: visible;
    display: inline-block;
  }
  nav > ul > li {
    margin: 0 3%;
  }
  nav > ul > li > a {
    text-decoration: none;
  }

  /* landing-page */
  /* landing - page */
  .landing-page {
    height: 80vh;
    width: 100%;
    flex-grow: 1;
    text-align: left;
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -33vh right -80vh;
  }
  section > .landing-container {
    padding: 0 0 0 5%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top -15vh right -10vh;
  }
  .landing-container > div {
    height: 50%;
    width: 40%;
    padding: 0 10% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .landing-container > div > h1 {
    color: var(--dark-blue);
    font-size: 3.25rem;
  }
  .landing-container > div > p {
    color: var(--grayish-blue);
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .landing-container > div > .call-to-action {
    width: 45%;
    padding: 4%;
  }

  .feature-page {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* width: 100%; */
    padding: 7%;
  }
  .feature-page > h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  .feature-page > p {
    align-self: flex-start;
    width: 80%;
    font-size: 1rem;
    margin: 2% 0 3% 0;
    line-height: 1.5rem;
    padding-right: 30%;
  }
  .features {
    margin-top: 1%;
    width: 25%;
    padding: 1%;
  }
  .features > h3 {
    color: var(--dark-blue);
    font-size: 1.5rem;
    margin: 10% auto 5% auto;
  }
  .features > p {
    color: var(--grayish-blue);
    font-size: 1rem;
    margin-top: 7%;
    line-height: 1.5rem;
  }
  .features > p {
    margin-bottom: 0;
  }
  .footer {
    background-color: var(--dark-blue);
    padding: 10% 5%;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    align-content: center;
  }
  footer > .media {
    width: 15%;
  }
  footer > .media > img {
    width: 80%;
  }
  .social-media {
    margin-top: 12%;
    width: 100%;
  }
  .social-media > img {
    width: 12%;
    margin: 0 3%;
  }

  .article {
    flex-direction: row;
    padding: 4%;
    /* height: 100vh; */
  }
  .article > h2 {
    margin: 3% 0px 8%;
    text-align: left;
    font-size: 2.5rem;
  }
  .article-card {
    width: 23%;
    margin-bottom: 5%;
  }

  .footer {
    padding: 5%;
  }
  footer > ul {
    text-align: left;
    margin: 0 20% 0% 7%;
    flex-grow: 1;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
  footer > ul > li {
    margin: 0;
  }
  footer > ul > li:nth-child(2) {
    margin: 5% 0;
  }
  footer > ul > li:nth-child(5) {
    margin: 5% 0;
  }
  footer > ul > li > a:link {
    color: var(--White);
    font-size: 1rem;
  }
  footer > .action {
    text-align: right;
    width: 15%;
  }
  footer > .action > .call-to-action {
    padding: 7% 12%;
    margin: 5% 0;
  }
  footer > .action > p {
    margin-top: 12%;
    color: var(--grayish-blue);
    font-size: 0.8rem;
  }
}
